doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Ooom
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body 
        header 
            h1 Ooom 
        main 
            h2 Welcome to Ooom
        div#from_front
        div
            input#test(type='text' value='msg from client')
            input.btn(type='submit' value='전송' onclick='fn_submit();')
        script(src="/public/js/app.js")